*.class
*.log
*.bz2
# sbt specific
.cache
.gitignore
.ensime
.history
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
